<ion-header no-border>
  <ion-toolbar class="wa-navbar">
    <!-- <div *ngIf="!searching"> -->
    <!-- <ion-title class="wa-header__title" text-center>Panahon</ion-title> -->
    <!-- <ion-buttons slot="secondary">
                <ion-button (click)="toggleSearch()">
                    <ion-icon class="icon" slot="icon-only" name="search"></ion-icon>
                </ion-button>
            </ion-buttons> -->
    <!-- </div> -->
    <!-- <div *ngIf="searching"> -->
    <!-- <div>
            <ion-item lines="none"> -->
    <!-- <ion-label class="wa-zip">
                    <ion-buttons>
                        <ion-button (click)="toggleSearch()">
                            <ion-icon class="icon" slot="icon-only" name="arrow-back"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-label> -->
    <ion-input
      class="wa-input"
      placeholder="Enter Zip Code"
      type="number"
      [(ngModel)]="zipCode"
    >
    </ion-input>
    <ion-buttons class="wa-nav__button" slot="end">
      <ion-button class="wa-nav__button--zip" (click)="getWeather(zipCode)">
        <ion-icon class="icon" slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- </ion-item>
        </div> -->
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <div *ngIf="weatherResults">
    <div class="wa-temp__location">
      {{ location }}
    </div>
    <div class="wa-temp__container">
      <div class="wa-temp__high-low">
        {{ currentDate | date:'EEEE, MMM d' }}
      </div>
      <div class="wa-temp__current">
        {{ currentTemp }}&deg;
        <ion-img [src]="currentConditionIcon"></ion-img>
      </div>
    </div>
    <ion-row class="wa-temp__container-footer">
      <ion-col col-4>
        <div>Humidity:</div>
        {{ humidity }}%
      </ion-col>
      <ion-col col-4>
        <div>Precip:</div>
        {{ precip }}in
      </ion-col>
      <ion-col col-4>
        <div>Wind:</div>
        {{ wind }}mph
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-list-header>
        <ion-title class="wa-temp__forecast">6 Day</ion-title>
      </ion-list-header>
      <ion-item lines="none" *ngFor="let day of forecast">
        <ion-thumbnail slot="start">
          <ion-img [src]="day.icon"></ion-img>
        </ion-thumbnail>
        <ion-col size="12" justify-center>
          <p style="margin-bottom: 0; text-align: left;">
            {{ day.dt_txt | date:'EEEE, MMM d' }}
          </p>
          <ion-row>
            <ion-col>
              <p style="font-size: 10px; margin-bottom: 0;">Temp</p>
              <h4 style="margin-top: 0;">
                {{ day.temp }}&deg;
              </h4>
            </ion-col>
            <ion-col>
              <p style="font-size: 10px; margin-bottom: 0;">Percip</p>
              <h4 style="margin-top: 0;">
                {{ day.rain ? day.rain["3h"] : 0 }}in
              </h4>
            </ion-col>
            <ion-col>
              <p style="font-size: 10px; margin-bottom: 0;">Wind</p>
              <h4 style="margin-top: 0;">
                {{ day.wind ? day.wind.speed : 0 }}in
              </h4>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
