ion-header,
ion-content {
  --ion-background-color: #f8f8f8;
}

.icon {
  color: #004c97;
}

.wa {
  &-navbar {
    padding: 8px;
    --background: #f8f8f8;
  }

  &-header__title {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    color: #004c97;
  }

  &-zip {
    color: #004c97;

    button {
      background-color: transparent;
    }
  }

  &-input {
    color: #004c97;
  }

  &-nav__button {
    button {
      background-color: transparent;
      padding: 0 5px !important;
    }
  }

  &-temp__location {
    color: #57524f;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
  }

  &-temp__forecast {
    color: #57524f;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
  }

  &-temp__container {
    background-color: #fff;
    color: #57524f;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    // margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  &-temp__high-low {
    text-align: center;
    position: relative;
    padding-top: 15px;
    color: #57524f;
    font-size: 20px;
  }

  &-temp__current {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    color: #f99110;
    align-self: center;
    padding-top: 15px;
  }

  &-icon__current {
    align-self: center;
  }

  &-temp__container-footer {
    border-bottom: 1.5px solid #d3d3d3;
    text-align: center;
    color: #57524f;
    font-size: 16px;
    margin: 15px 25px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
  }
}
