<ion-header no-border>
  <ion-toolbar class="wa-navbar">
    <ion-input id="searchTerm" #searchTermText="ngModel" name="searchTerm" required class="wa-input"
      placeholder="City or zip code" type="text" [(ngModel)]="searchTerm">
    </ion-input>
    <ion-buttons class="wa-nav__button" slot="end">
      <ion-button class="wa-nav__button--zip" (click)="getWeather()">
        <ion-icon class="icon" slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button class="wa-nav__button--zip" (click)="getGeolocation()">
        <ion-icon class="icon" slot="icon-only" name="navigate"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="error" class="error-text">
      <div *ngIf="searchTermText.errors.required">
        required.
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div *ngIf="currentWeather">
    <div class="wa-temp__location-name">
      {{ currentWeather.localeName }}
    </div>
    <div class="wa-temp__container">
      <div class="wa-temp__high-low">
        {{ currentWeather.date | date:'EEE, MMM d' }}
      </div>
      <div class="wa-temp__current">
        {{ currentWeather.temp }}&deg;
        <ion-img [src]="currentWeather.icon"></ion-img>
      </div>
    </div>
    <ion-row class="wa-temp__container-footer">
      <ion-col col-4>
        <div style="font-weight: 600;">Humidity:</div>
        {{ currentWeather.humidity }}%
      </ion-col>
      <ion-col col-4>
        <div style="font-weight: 600;">Precip:</div>
        {{ currentWeather.precip }}in
      </ion-col>
      <ion-col col-4>
        <div style="font-weight: 600;">Wind:</div>
        {{ currentWeather.wind.speed }}mph ({{ currentWeather.wind.direction}})
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-list-header>
        <ion-title class="wa-temp__forecast">5 Day</ion-title>
      </ion-list-header>
      <ion-item lines="none" *ngFor="let day of forecast">
        <ion-row class="wa-temp__container-list-item">
          <ion-col size="12" justify-center>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <p style="text-align: left; margin-top: 0; margin-bottom: 0; font-weight: 600;">
                {{ day.dt_txt | date:'EEEE, MMM d' }}
              </p>
              <ion-img style="height: 40px; width: 40px; margin-left: 12px;" [src]="day.icon"></ion-img>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col col-4>
                <p class="wa-temp__list-item-col-header">
                  Low
                </p>
                <ion-row class="ion-justify-content-center">
                  <h4 style="margin-top: 0;">
                    {{ day.temp_min }}&deg;
                  </h4>
                </ion-row>
              </ion-col>
              <ion-col col-4>
                <p class="wa-temp__list-item-col-header">
                  High
                </p>
                <ion-row class="ion-justify-content-center">
                  <h4 style="margin-top: 0;">
                    {{ day.temp_max }}&deg;
                  </h4>
                </ion-row>
              </ion-col>
              <ion-col col-4>
                <p class="wa-temp__list-item-col-header">
                  Precip
                </p>
                <ion-row class="ion-justify-content-center">
                  <h4 style="margin-top: 0;">
                    {{ day.precip }}
                  </h4>
                  <span class="wa-temp__units">in</span>
                </ion-row>
              </ion-col>
              <ion-col col-4>
                <p class="wa-temp__list-item-col-header">
                  Wind ({{ day.wind && day.wind.direction}})
                </p>
                <ion-row class="ion-justify-content-center">
                  <h4 style="margin-top: 0;">
                    {{ day.wind && day.wind.speed }}
                  </h4>
                  <span class="wa-temp__units">mph</span>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>